<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sigmo_desarrollo</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">cjavaperu</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping resource="hibernate/mapping/Rol.hbm.xml" />
		<mapping resource="hibernate/mapping/Usuario.hbm.xml" />
		<mapping resource="hibernate/mapping/Cliente.hbm.xml" />
		<mapping resource="hibernate/mapping/Cotizacion.hbm.xml" />
		<mapping resource="hibernate/mapping/Pedido.hbm.xml" />
		<mapping resource="hibernate/mapping/Detallecotizacion.hbm.xml" />
		<mapping resource="hibernate/mapping/Documento.hbm.xml" />
		<mapping resource="hibernate/mapping/Documentoscliente.hbm.xml" />
		<mapping resource="hibernate/mapping/Pago.hbm.xml" />
		<mapping resource="hibernate/mapping/Producto.hbm.xml" />
		<mapping resource="hibernate/mapping/Unidad.hbm.xml" />
		<mapping resource="hibernate/mapping/Moneda.hbm.xml" />
	</session-factory>
</hibernate-configuration>
